*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(255, 255, 255);
    height: 80px;
    border: 1px solid #000;
}
nav img{
    position: absolute;
    top: 1px;
    left: 10rem;
}
nav ul{
    margin-top: 30px;
    float: right;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    margin-top: 3rem;
    margin-right: 80px;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.6s ease;
}
nav ul li a:hover{
    border: 1px solid #000;
    border-radius: 30px;
}
/*end navbar
*/
.log {
}
.log h1{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    left: 23rem;
    top: 7rem;
    font-size: 80px;
    font-weight: bold;
    color: #6d6c6c;
}
.log img{
    position: absolute;
    left: 21rem;
    top: 15rem;
    width: auto;
    height: 500px;
}


/*links*/
.links{
    position: absolute;
    top: 50rem;
    left: 37rem;
}
.links h2{
    text-align: center;
    padding-bottom: 20px;
}
.links ul li{
    display: inline-block;
}
.links ul li a{
    padding: 5px 20px;
}

/*blog home view*/
.blog{
    position: absolute;
    top: 60rem;
    left: 30px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}